<fieldset>
  <div class="form-inputs row">
    <div class="col-md-3">
      <%= f.association :user, include_blank: false %>
    </div>

    <div class="col-md-2">
      <%= f.input :vp, input_html: {min: 1, step: 1, max: 10, value: 1} %>
    </div>

    <div class="col-md-1 ">
      <%= f.hidden_field :_destroy %>
      <%= link_to '#', class: 'btn btn-default remove_fields', :style => 'margin-top: 25px; margin-left: 0px' do %>
          <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
  </div>
</fieldset>




